html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
#navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.shrink{
    background: #d4d7de; 
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}
.nav_animation li a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin:15px;
}
.logo{
    flex: 1 1 auto;
    margin-left:10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
}
a{
    margin:15px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #000;
}
.nav_animation li a:hover{
    color: white;
}
.banner-area{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://drive.google.com/uc?id=1c9hhBk_iPioiqcb174ojZfTtWUxSQxen);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about-area, .contact-area, .footer-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    height: auto;
}
.text-part{
    width: 75%;
    height: auto;
    padding-top: 70px;
}
.text-part-footer{
    width: 75%;
    height: auto;
    padding-top: 10px;
}
h1{
    font-size:50px;
    font-family: Audiowide;
}
.text-part p{
    font-size: 24px;
    line-height: 50px;
}
.about-area{
    background: #c2c2a3;
}
.footer-area{
    background: #d4d7de;
}
.contact-area{
    background: #262626;
}
.left-box{
    float: left;
    width: 50%;
    background: #999966;
}
.dp{
    padding: 10%; 
    width: 70%;
    height: 300px;
    transform: rotate(270deg);
}
.content table tr td{
    padding: 15px;
}
.column-title{
	font-weight: bold;
}
.right-box{
    float: right;
    width: 50%;
    background: #c2c2a3;
}
.skill_box ul li img{
	width: 100px;
	max-height: 100px;
}
.skill_box ul{
    list-style-type: none;
    text-align: center;
}
.skill_box ul li{
    display: inline-block;
    padding: 3%;
}
.skill_box h2{
	text-align: center;
	size: 6;
}

.contact-left{
    width: 100%;
    height: auto;  
    
}
.contact-right{
    height: auto;
    float: right;
    width: 50%;
}


#go-to-up{
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 20px;
    position: fixed;
    text-align: center;
    line-height: 50px;
}

.text-part-footer{
    text-align: center;
    margin-bottom: 2px;

}
/*mobiles*/
@media screen and (max-width: 480px){
/*
    #burger-nav{
        width: 100%;
        height: 40px;
        background: url(burger.png) no-repeat 50% center;
        cursor: pointer;
    }
    a{
        display: block;
        text-align: center;
        padding: 10px;
        color: #999;
        border-top: 1px solid #4f4f4f
    }
    #nav{
        height: 0;
        overflow: hidden;
    }
    
    #nav.open{
        height: auto;
    }
    #nav li{
        float: none;
        width: 100%;
        margin: 0;
    }
    #nav ul.open{
        height: auto;
    }
*/

#logo{
    display: none;
}

.dp{
   
    height: 30%;
    
}






    .left-box{
        width: 100%;
        background: #999966;
    }
    .right-box{
        width: 100%;
        background: #c2c2a3;
    }

    .skill_box ul li img{
        width: 70px;
        max-height: 70px;
    }
    .skill_box ul{
        list-style-type: none;
        text-align: center;
    }
    .skill_box ul li{
        display: inline-block;
        padding: 3%;
    }
    .skill_box h2{
        text-align: center;
        size: 6;
    }
    iframe {
        width: 100%;
    }
    .contact-right{
        height: auto;
        
        width: 100%;
    }

    #go-to-up{
        width: 50px;
        height: 50px;
        bottom: 6px;
        right: 6px;
        position: fixed;
        text-align: center;
        line-height: 50px;
    }
    
}