form input{
    
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 2px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
}
form textarea{
    float: left;
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 2px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
}

form input:focus{
    outline: none;
    border-bottom: 5px solid #968491;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}
form textarea:focus{
    outline: none;
    border-bottom: 5px solid #968491;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 20px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
    margin-top: 8px;
    
}